
body{
    background-color: #008B57;
}

.password-box {
    height: 100vh;
    display: flex;
    align-items: center;
        .heading-one {
            color: #fff;
        }
        .heading-two {
            color: #008B57;
        }
}