body {
    background-color: #00203a;
    min-height: 100vh;
    display: flex;
}
.container {
    display: flex;
    justify-content: center;
    align-items: center;
    padding: 20px;
}

.g-pass-heading {
    margin-bottom: 20px;
    display: inline-block;
    .heading-one h2 {
        color: #fff;
        font-size: 50px;
    }

    .heading-two h2 {
        color: #008B57;
        font-size: 50px;
        border-bottom: 3px solid #008B57;
        padding-bottom: 10px;
    }
}

.g-pass-input-box {
    display: flex;
    position: relative;

    input {
        padding: 10px 20px;
        width: 500px;
    }

    .g-pass-icon {
        position: absolute;
        left: 450px;
        top: 50%;
        transform: translate(0%, -50%);

        img {
            width: 40px;
            cursor: pointer;
        }
    }
}

.button-box {
    display: inline-flex;
    align-items: center;
    background-color: #008B57;
    padding: 5px;
    margin-top: 20px;
    
    .g-pass-btn-icon img {
        width: 30px;
         cursor: pointer;
    }
    button{
        color: #fff;
    }

}